# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [17]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [18]:
pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user')

    user_id|age|gender|occupation|zip_code
0                  1|24|M|technician|85711
1                       2|53|F|other|94043
2                      3|23|M|writer|32067
3                  4|24|M|technician|43537
4                       5|33|F|other|15213
5                   6|42|M|executive|98101
6               7|57|M|administrator|91344
7               8|36|M|administrator|05201
8                     9|29|M|student|01002
9                     10|53|M|lawyer|90703
10                     11|39|F|other|30329
11                     12|28|F|other|06405
12                  13|47|M|educator|29206
13                 14|45|M|scientist|55106
14                  15|49|F|educator|97301
15             16|21|M|entertainment|10309
16                17|30|M|programmer|06355
17                     18|35|F|other|37212
18                 19|40|M|librarian|02138
19                 20|42|F|homemaker|95660
20                    21|26|M|writer|30068
21                    22|25|M|writer|40206
22                    23|30|F|artist|48197
23                    24|21|F|artist|94533
24                  25|39|M|engineer|55107
25                  26|49|M|engineer|21044
26                 27|40|F|librarian|30030
27                    28|32|M|writer|55369
28                29|41|M|programmer|94043
29                    30|7|M|student|55436
..                                     ...
913                   914|44|F|other|08105
914           915|50|M|entertainment|60614
915                916|27|M|engineer|N2L5N
916                 917|22|F|student|20006
917               918|40|M|scientist|70116
918                   919|25|M|other|14216
919                  920|30|F|artist|90008
920                 921|20|F|student|98801
921           922|29|F|administrator|21114
922                 923|21|M|student|E2E3R
923                   924|29|M|other|11753
924                925|18|F|salesman|49036
925           926|49|M|entertainment|01701
926              927|23|M|programmer|55428
927                 928|21|M|student|55408
928               929|44|M|scientist|53711
929               930|28|F|scientist|07310
930                931|60|M|educator|33556
931                932|58|M|educator|06437
932                 933|28|M|student|48105
933                934|61|M|engineer|22902
934                  935|42|M|doctor|66221
935                   936|24|M|other|32789
936                937|48|M|educator|98072
937              938|38|F|technician|55038
938                 939|26|F|student|33319
939           940|32|M|administrator|02215
940                 941|20|M|student|97229
941               942|48|F|librarian|78209
942                 943|22|M|student|77841

[943 rows x 1 columns]

### Step 3. Assign it to a variable called users.

In [22]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user')

### Step 4. Discover what is the mean age per occupation

In [23]:
users.groupby('occupation')['age'].mean()

KeyError: 'occupation'

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [ ]:
users.groupby('occupation').mean()

### Step 6. For each occupation, calculate the minimum and maximum ages

### Step 7. For each combination of occupation and gender, calculate the mean age

### Step 8.  For each occupation present the percentage of women and men

occupation     gender
administrator  F          45.569620
               M          54.430380
artist         F          46.428571
               M          53.571429
doctor         M         100.000000
educator       F          27.368421
               M          72.631579
engineer       F           2.985075
               M          97.014925
entertainment  F          11.111111
               M          88.888889
executive      F           9.375000
               M          90.625000
healthcare     F          68.750000
               M          31.250000
homemaker      F          85.714286
               M          14.285714
lawyer         F          16.666667
               M          83.333333
librarian      F          56.862745
               M          43.137255
marketing      F          38.461538
               M          61.538462
none           F          44.444444
               M          55.555556
other          F          34.285714
               M          65.714286
programmer     F           9.090909
               M          90.909091
retired        F           7.142857
               M          92.857143
salesman       F          25.000000
               M          75.000000
scientist      F           9.677419
               M          90.322581
student        F          30.612245
               M          69.387755
technician     F           3.703704
               M          96.296296
writer         F          42.222222
               M          57.777778
Name: gender, dtype: float64